/* Global */
* {
    margin: 0;
}






/* Hero */
.hero2 {
    height: 93vh;
    display: flex;
    flex-direction: row-reverse;
    background: #e1e0e0;
}

.hero-img-container2 {
    width: 50vw;
    height: 93vh;
}

.hero-img2 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 1px;
}

.hero-text2 {
    height: 93vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text-box {
    color: #1e1e24;
    margin-left: 45px;
}

.hero-text2 h1 {
    font-size: clamp(44px, 5vw + 1rem, 88px);
    font-weight: 700;
    line-height: 1.1;
    margin-top: 30px;
}

.hero-text2 h2 {
    font-size: clamp(12px, 3vw + 1rem, 59px);
    font-weight: 700;
    line-height: 1.1;
}

.hero-text2 h6 {
    font-size: clamp(12px, 0.5vw + 0.5rem, 15px);
    font-weight: 500;
    letter-spacing: 3px;
}

.hero-text2 p {
    font-size: clamp(1px, .6vw + .6rem, 24px);
    font-weight: 400;
    line-height: 33px;
    margin-top: 30px;
}

.hero-button2 {
    background: #1e1e24;
    color: whitesmoke;
    padding: 8px 14px;
    border: 2px solid #1e1e24;
    box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 #1e1e24;
    margin-top: 30px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-link {
    text-decoration: none;
}

.hero-button2:hover {
    background: rgb(236, 235, 235);
    color: #1e1e24;
    box-shadow: -2px -2px 0 0 white, -4px -4px 0 0 #1e1e24;
}






/* Product Slider */
.product-home {
    position: relative;
    overflow: hidden;
    margin: 80px 0 80px 0;
}

.section-header-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: sans-serif;
}

.section-header-home button {
    margin-right: 8vw;
    background: #1e1e24;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid;
}

.section-header-home button:hover {
    background: white;
    color: #1e1e24;
    border: 2px solid #1e1e24;
}

.product-category-home {
    padding: 0 8vw;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.product-container-home {
    padding: 0 8vw;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.product-container-home::-webkit-scrollbar {
    display: none;
}

.product-card-home {
    flex: 0 0 auto;
    width: 250px;
    height: 475px;
    margin-right: 40px;
}

.product-card-home:last-child {
    margin-right: 0;
}

.product-image-home {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag-home {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ef233c;
    left: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn-home {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card-home:hover .card-btn-home {
    opacity: 1;
}

.card-btn-home:hover {
    background: #ef233c;
    color: #fff;
}

.product-info-home {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.info-title-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-brand-home {
    text-transform: uppercase;
}

.product-short-description-home {
    width: 100%;
    height: 20px;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price-home {
    position: relative;
    bottom: -20px;
    color: #ef233c;
    margin-left: 10px;
    font-weight: 900;
    font-size: 20px;
}

.actual-price-home {
    position: relative;
    bottom: -20px;
    color: #1e1e24;
    opacity: 0.75;
    text-decoration: line-through;
}

.pre-btn-home,
.nxt-btn-home {
    border: none;
    width: 8vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn-home {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn-home {
    right: 0;
}

.arrow-icon-home {
    height: 50px;
    width: 50px;
    color: black;
}

.collection-container-home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection-home {
    position: relative;
}

.collection-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-home p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection-home:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}

.cart-container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid dodgerblue;
    position: relative;
    bottom: 10px;
    right: -192px;
    background-color: rgba(91, 173, 255, 0.5);
    cursor: pointer;
}

.cart-icon-home {
    width: 22px;
    height: 22px; 
    font-weight: 500; 
    color: #516ff5;
    pointer-events: none;
}

.heart-container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.heart-container-home:hover {
    background: rgba(239, 37, 60, 0.5);
    color: white;
    border: 1px solid red;
}

.heart-icon-home {
    height: 20px;
    width: 20px;
    pointer-events: none;
}






/* Promo Section */
.home-promo-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8vw 0 8vw;
    height: 400px;
    background: #f8f4f0;
}

.home-promo-text-container {
    width: 50%;
    height: 100%;
}

.home-promo-text {
    font-family: sans-serif;
    padding: 50px 80px 50px 80px;
}

.home-promo-text h3 {
    font-size: clamp(22px , 1.5rem + 0.5vw, 30px);
    font-weight: 400;
    color: #2c2c34;
    margin-bottom: 5px;
}

.home-promo-text span {
    font-size: 1.025rem;
    color: #2c2c34;
    font-weight: 400;
}

.home-promo-text h4 {
    font-size: 1.5rem;
    font-size: clamp(12px , 1rem + 0.5vw, 24px);
    font-weight: 400;
    color: #2c2c34;
    margin-top: 30px;
    width: 80%;
}


.home-promo-text h5 {
    font-size: 1.25rem;
    font-size: clamp(12px , 1rem + 0.25vw, 20px);
    color: #2c2c34;
    margin-top: 30px;
    font-weight: 500;
}

.home-promo-text h5 span {
    color: #ef233c;
    font-size: clamp(12px , 1.5rem + 0.5vw, 35px);
    margin: 0 5px 0 5px;
    font-weight: 500;
}

.home-promo-text button {
    background: #1e1e24;
    color: whitesmoke;
    padding: 10px 14px;
    border: 2px solid;
    margin-top: 30px;
    width: 150px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.home-promo-text button:hover {
    background: whitesmoke;
    color: #1e1e24;
    border: 2px solid #1e1e24;
}

.home-promo-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.home-promo-img {
    position: relative;
    right: -35px;
    bottom: 40px;
    width: 100%;
    height: 120%;
    object-fit: cover;
}






/* Benefits Section */
.home-benefits-section-container {
    margin: 0 8vw 80px 8vw;
    display: flex;
    justify-content: space-between;
}

.home-benefit-card {
    display: flex;
    width: 300px;
    height: 100px;
    border-left: 3.5px solid #2c2c34;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, .15);
}

.home-benefit-card-icon {
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    width: 25%;
}

.home-benefit-card-text {
    width: 75%;
    padding: 15px 20px 15px 0;
    font-family: sans-serif;
}

.home-benefit-card-text h5 {
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.home-benefit-card-text p {
    font-weight: 300;
    color: rgb(122, 122, 122);
    font-size: 0.9rem;
}

.home-benefit-box-icon {
    font-size: 28px;
    margin-top: 3px;
}






/* Brands Logo Scroller */
.infinite-logo-scroller {
    background: #1e1e24;
    height: 150px;
}

.logos-container {
    display: flex;
    align-items: center;
}

.scroller-logo-icon {
    width: 150px;
    height: 100%;
    color: whitesmoke;
    cursor: pointer;
    margin: 0 150px 0 150px;
}





/* Responsive Media Query's */
    /* Products Media Query */
    @media (max-width: 595px) {
        .section-header-home button {
            display: none;
        }
        .section-header-home {
            justify-content: center;
        }
    }

    @media (max-width: 350px) {
        .product-category-home {
            font-size: 40px;
        }
    }






    /* Banner Media Query */
    @media (max-width: 570px) {
        .banner-one h2 {
            font-size: 26px !important;
        }
        .banner-one h2 span {
            font-size: 30px !important;
        }
        .banner-one button {
            padding: 10px 20px;
        }
    }

    @media (max-width: 375px) {
        .banner-one h2 {
            padding: 15px 0;
        }
        .banner-one button {
            padding: 5px 20px;
        }
    }

    @media (max-width: 422px) {
        .banner-one h2 {
            font-size: 16px !important;
        }
        .banner-one h2 span {
            font-size: 20px !important;
        }
        .banner-one button {
            font-size: 14px;
        }
    }






    /* Hero Media Query */
    @media (max-width: 1274px) {
        .hero2 {
            flex-direction: column-reverse;
        }
        .hero-img-container2 {
            width: auto;
            height: 43dvh;
        }
        .hero-text2 {
            width: auto;
            height: 43dvh;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hero-text-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        .hero-img2 {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    @media (max-height: 600px) {
        .hero2 {
            flex-direction: row-reverse;
        }
        .hero-img-container2 {
            width: 50dvw;
            height: 93dvh;
        }
        .hero-text2 {
            width: 50dvw;
            height: 93dvh;
        }
        .hero-img2 {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            object-fit: cover;
        }

        @media (max-width: 700px) {
            .hero2 {
                flex-direction: column-reverse;
            }
            .hero-img-container2 {
                width: 100dvw;
                height: 43dvh;
            }
            .hero-text2 {
                width: 100dvw;
                height: 43dvh;
            }
            .hero-img2 {
                height: 43dvh;
                width: 100dvw;
                object-fit: contain;
            }
        }

        @media (min-width: 1088px) {
            .hero-img2 {
                object-fit: contain;
            }
        }
    }

    @media (max-height: 400px) {
        .hero2 {
            flex-direction: row-reverse;
        }
        .hero-img-container2 {
            width: 50dvw;
            height: 93dvh;
        }
        .hero-text2 {
            width: 50dvw;
            height: 93dvh;
        }
        .hero-img2 {
            height: 93dvh;
            width: 50dvw;
            object-fit: contain;
        }
    }






    /* Benefits Media Query */
    @media (max-width: 700px) {
        .home-benefits-section-container {
            flex-direction: column;
            align-items: center;
        }
        .home-benefit-card {
            margin: 10px 0 10px 0;
        }
    }






    /* Promo Media Query */
    @media (max-width: 1280px) {
        .home-promo-text h5 {
            width: 60%;
        }
    }

    @media (max-width: 1270px) {
        .home-promo-img {
            height: 100%;
            right: 0px;
            bottom: 0px;
        }
    }

    @media (max-width: 1270px) {
        .home-promo-text h5 span {
            font-size: 26px;
        }
    }

    @media (max-width: 1106px) {
        .home-promo-text h5 span {
            font-size: 22px;
        }
    }

    @media (max-width: 1036px) {
        .home-promo-text h5  {
            width: 70%;
        }
    }

    @media (max-width: 940px) {
        .home-promo-text h5  {
            width: 80%;
        }
    }

    @media (max-width: 903px) {
        .home-promo-text {
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .home-promo-text h4 {
            width: 70%;
            text-align: center;
        }
        .home-promo-text h5 {
            text-align: center;
        }
    }

    @media (max-width: 744px) {
        .home-promo-section-container {
            flex-direction: column;
            height: 525px;
        }
        .home-promo-text-container {
            width: 100%;
            height: 50%;
            z-index: 1;
        }
        .home-promo-img-container {
            width: 100%;
            height: 50%;
        }
        .home-promo-img {
            object-fit: contain;
        }
        .home-promo-text {
            padding: 30px;
        }

        .home-promo-text h4 {
            margin-top: 20px;
        }

        .home-promo-text h5 {
            margin-top: 20px;
        }
        .home-promo-text button {
            margin-top: 20px;
        }
    }