/* Global */
* {
    margin: 0;
}

/* Navbar */
.nav--breakpoint {
    display: flex;
    align-items: center;
}


.responsive-nav-icon {
    color: whitesmoke;
    margin-right: 30px;
    height: 25px;
    width: 25px;
    z-index: 1001;
    visibility: hidden;
    position: fixed;
}

.responsive-nav-icon-hidden {
    visibility: hidden;
    position: fixed;
}

.nav--breakpoint-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 300px;
    background: #2c2c34;
    box-shadow: 0 40px 60px rgba(0, 0, 0, .15);
    padding: 80px 0 0 10px;
    transition: .5s;
}

.close-menu {
    position: absolute;
    top: 20px;
    left: 30px;
    color: whitesmoke;
    height: 25px;
    width: 25px;
}

.close-menu-hidden {
    visibility: hidden;
    position: fixed;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100dvw;
    background-color: #1e1e24;
    position: fixed;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    z-index: 1000;
    top: 0;
}

.logo {
    height: 50px;
    width: 200px;
    margin-left: 35px;
    object-fit: contain;
}

.nav--links {
    display: flex;
    align-items: center;
    font-size: larger;
    color: whitesmoke;
}

.link {
    font-family: sans-serif;
    margin: 0 15px 0 15px;
    color: whitesmoke;
    text-decoration: none;
}

.nav--extras {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px;
    background: #f6f6f6;
    border: none;
    border-radius: 30px;
    transition: box-shadow 0.25s;
}

.search-bar:focus-within {
    box-shadow: 0 0 2px white;
}

.confirm-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: none;
    margin-left: 3px;
    height: 35px;
    width: 35px;
}

.confirm-search:hover {
    transition: .3s;
    background: #e1e0e0;
}

.magnifier {
    height: 25px;
    width: 25px;
}

.search-input {
    height: 40px;
    width: 150px;
    border: none;
    background: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.wish-list {
    height: 20px;
    width: 20px;
    margin: 10px;
    color: whitesmoke;
}

.shopping-bag {
    height: 25px;
    width: 25px;
    margin: 10px;
    color: whitesmoke;
}

.account {
    height: 20px;
    width: 20px;
    margin: 10px;
    color: whitesmoke;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-filler {
    width: 100dvw;
    height: 7vh;
    background: #e1e0e0;
}

/* Nav Media Queries */
@media (max-width:1070px) {
    .nav--breakpoint {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -400px;
        height: 100dvh;
        width: 300px;
        background: #2c2c34;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .15);
        padding: 80px 0 0 10px;
        transition: .5s;
        z-index: 1002;
    }

    .nav--links {
        display: flex;
        flex-direction: column;
    }

    .nav--extras {
        display: flex;
        flex-direction: column;
    }

    .responsive-nav-icon {
        visibility: visible !important;
        position:  relative !important;
    }

    .nav-icons {
        margin-right: 65px;
    }
}

/* CartComplete */
.cart-complete {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.section-title {
    font-size: 1.25rem;
    color: #2c2c34;
    border-bottom: 1px solid #1e1e24;
    padding: 30px 0px 5px 0px;
}

/* OrderSummary */
.order-summary {
    width: 25dvw;
    margin-right: 25px;
}

.costs-total {
    border-bottom: 1px solid lightgray;
}

.category-section {
    display: flex;
    justify-content: space-between;
}

.category-title {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 15px 0px 15px 0px;
}

.category-costs {
    font-weight: 300;
    font-size: 1.25rem;
    padding: 15px 0px 15px 0px;
}

.promo-code {
    font-size: 1.25rem;
    color: #2c2c34;
    border-bottom: 1px solid lightgray;
    padding: 20px 0px 5px 0px;
}

.promo-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 15px 0px;
}

.promo-input {
    padding: 10px 10px 10px 10px;
    width: 60%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #1e1e24;
}

.promo-btn {
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: dodgerblue;
    color: whitesmoke;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}

.promo-btn:hover {
    background: rgb(23, 111, 200);
}

.checkout {
    font-size: 1.25rem;
    color: #2c2c34;
    padding: 20px 0px 0px 0px;
}

.checkout-btn {
    margin: 10px 0px 0px 0px;
    height: 40px;
    width: 100%;
    border: none;
    background: #1e1e24;
    background: dodgerblue;
    color: whitesmoke;
    font-weight: 700;
    font-size: 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
}

.checkout-btn:hover {
    background: rgb(23, 111, 200);
}

.lock-icon {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

/* ProductsInCart */
.products-in-cart {
    width: 65dvw;
    margin-left: 25px;
}

.product-cart-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0px 30px 0px;
    height: 225px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
}

.product-cart-quantity {
    display: flex;
    align-items: center;
}

.product-img {
    width: 200px;
    height: 225px;
    object-fit: cover;
}

.cart-card-btn {
    display: flex;
    justify-content: space-between;
}

.cart-card-btn button {
    border: none;
    border-radius: 4px;
    background: dodgerblue;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
}

.product-cart-description {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-qty-price {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: end;
    height: 100%;
}

.info h2 {
    margin-bottom: 10px;
    font-weight: 300;
}

.info p {
    margin-bottom: 10px;
    font-weight: 600;
}

.product-cart-quantity {
    width: 14%;
    display: flex;
    width: 100%;
}

.quantity-btn {
    width: 30px;
    height: 100%;
    border: none;
    background: dodgerblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.btn-icon-minus {
    font-size: 18px;
}

.subtract-quantity {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.add-quantity {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1e24;
    width: 25px;
    height: 20px;
    padding: 5px 10px 5px 10px;
}

.total {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.costs {
    font-size: 18px;
}

@media (max-width: 1158px) {
    .cart-complete {
        flex-direction: column;
    }

    .products-in-cart {
        width: 95dvw;
    }

    .order-summary {
        justify-content: center;
        align-items: center;
        width: 95dvw;
        margin-left: 25px;
    }

    .contain-order-summary {
        width: 500px;
    }
}

@media (max-width: 796px) {
    .products-in-cart {
        width: 90dvw;
    }

    .order-summary {
        width: 90dvw;
    }

    .cart-card-btn {
        flex-direction: column;
    }

    .cart-card-btn button {
        width: 150px;
        margin-top: 5px;
    }
}

@media (max-width: 600px) {
    .product-qty-price {
        display: none;
    }

    .cart-card-btn button {
        width: 100%;
    }

    .product-cart-description {
        width: 40%;
    }
}

@media (max-width: 558px) {
    .contain-order-summary {
        width: 100%;
    }
}