/* Global */
* {
    margin: 0;
}






/* CartComplete */
.cart-complete {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 0 0 70px 0;
}

.section-title {
    font-size: 1.25rem;
    color: #2c2c34;
    border-bottom: 1px solid #1e1e24;
    padding: 30px 0px 5px 0px;
}






/* OrderSummary */
.order-summary {
    width: 25dvw;
    margin-right: 25px;
}

.costs-total {
    border-bottom: 1px solid lightgray;
}

.category-section {
    display: flex;
    justify-content: space-between;
}

.category-title {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 15px 0px 15px 0px;
}

.category-costs {
    font-weight: 300;
    font-size: 1.25rem;
    padding: 15px 0px 15px 0px;
}

.promo-code {
    font-size: 1.25rem;
    color: #2c2c34;
    border-bottom: 1px solid lightgray;
    padding: 20px 0px 5px 0px;
}

.promo-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px 15px 0px;
}

.promo-input {
    padding: 10px 10px 10px 10px;
    width: 60%;
    outline: none;
    border-radius: 4px;
    border: 1px solid #1e1e24;
}

.promo-btn {
    padding: 10px 20px 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background: dodgerblue;
    color: whitesmoke;
    border-radius: 4px;
    transition: .4s;
    cursor: pointer;
}

.promo-btn:hover {
    background: rgb(23, 111, 200);
}

.checkout {
    font-size: 1.25rem;
    color: #2c2c34;
    padding: 20px 0px 0px 0px;
}

.checkout-btn {
    margin: 10px 0px 0px 0px;
    height: 40px;
    width: 100%;
    border: none;
    background: #1e1e24;
    background: dodgerblue;
    color: whitesmoke;
    font-weight: 700;
    font-size: 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
}

.checkout-btn:hover {
    background: rgb(23, 111, 200);
}

.lock-icon {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}






/* ProductsInCart */
.products-in-cart {
    width: 65dvw;
    margin-left: 25px;
}

.product-cart-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0px 30px 0px;
    height: 225px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 30px;
}

.product-cart-costs {
    user-select: none;
}

.product-cart-quantity {
    display: flex;
    align-items: center;
}

.product-img {
    width: 200px;
    height: 225px;
    object-fit: cover;
    user-select: none;
}

.cart-card-btn {
    display: flex;
    justify-content: space-between;
}

.cart-card-btn button {
    border: none;
    border-radius: 4px;
    background: dodgerblue;
    color: whitesmoke;
    padding: 5px 10px 5px 10px;
}

.product-cart-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.product-qty-price {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: end;
    height: 100%;
}

.info h2 {
    margin-bottom: 10px;
    font-weight: 300;
}

.info p {
    margin-bottom: 10px;
    font-weight: 600;
}

.product-cart-quantity {
    width: 14%;
    display: flex;
    width: 100%;
}

.quantity-btn {
    width: 30px;
    height: 100%;
    border: none;
    background: dodgerblue;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.btn-icon-minus {
    font-size: 18px;
    pointer-events: none;
}

.btn-icon-add {
    pointer-events: none;
}

.subtract-quantity {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.add-quantity {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.product-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1e24;
    width: 25px;
    height: 20px;
    padding: 5px 10px 5px 10px;
    user-select: none;
}

.total {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.costs {
    font-size: 18px;
}

.product-img-desc {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
}






/* Responsive Media Queries */
@media (max-width: 1160px) {
    .cart-complete {
        flex-direction: column;
    }

    .products-in-cart {
        width: 95dvw;
    }

    .order-summary {
        justify-content: center;
        align-items: center;
        width: 95dvw;
        margin-left: 25px;
    }

    .contain-order-summary {
        width: 500px;
    }
}

@media (max-width: 796px) {
    .products-in-cart {
        width: 90dvw;
    }

    .order-summary {
        width: 90dvw;
    }

    .cart-card-btn {
        flex-direction: column;
    }

    .cart-card-btn button {
        width: 150px;
        margin-top: 5px;
    }
}

@media (max-width: 600px) {
    .product-cart-card {
        flex-direction: column;
        padding-bottom: 77px;
    }

    .product-img-desc {
        width: 100%;
    }

    .product-qty-price {
        flex-direction: row;
        width: 100%;
        height: 35px;
    }

    .cart-card-btn button {
        width: 100%;
    }

    .product-cart-description {
        width: 40%;
    }


    .product-img-desc {
        margin-bottom: 15px;
    }

    .product-cart-costs {
        display: flex;
        align-items: center;
    }

    .total {
        margin: 0px;
    }

    .costs {
        margin-left: 25px;
    }
}

@media (max-width: 558px) {
    .contain-order-summary {
        width: 100%;
    }
}