/* Global */
* {
    margin: 0;
}






/* Navbar */
.nav--breakpoint {
    display: flex;
    align-items: center;
}

.responsive-nav-icon {
    color: whitesmoke;
    margin-right: 30px;
    height: 25px;
    width: 25px;
    z-index: 1009;
    visibility: hidden;
    position: fixed;
}

.responsive-nav-icon-hidden {
    visibility: hidden;
    position: fixed;
}

.nav--breakpoint-open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 300px;
    background: #2c2c34;
    box-shadow: 0 40px 60px rgba(0, 0, 0, .15);
    padding: 80px 0 0 10px;
    transition: .5s;
}

.close-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    color: whitesmoke;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.close-menu-hidden {
    visibility: hidden;
    position: fixed;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100dvw;
    background-color: #1e1e24;
    position: fixed;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    z-index: 1009;
    top: 0;
}

.logo {
    height: 50px;
    width: 200px;
    margin-left: 35px;
    object-fit: contain;
}

.nav--links {
    display: flex;
    align-items: center;
    font-size: larger;
    color: whitesmoke;
}

.link {
    font-family: sans-serif;
    margin: 0 15px 0 15px;
    color: whitesmoke;
    text-decoration: none;
}

.nav--extras {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 10px;
    background: #f6f6f6;
    border: none;
    border-radius: 30px;
    transition: box-shadow 0.25s;
}

.search-input-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 40px;
}

.search-bar:focus-within {
    box-shadow: 0 0 2px white;
}

.confirm-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: none;
    margin-left: 3px;
    height: 35px;
    width: 35px;
    border: none;
}

.confirm-search:hover {
    transition: .3s;
    background: #e1e0e0;
}

.magnifier {
    height: 25px;
    width: 25px;
}

.search-input {
    height: 40px;
    width: 150px;
    border: none;
    background: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
}

.search-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.wish-list {
    height: 20px;
    width: 20px;
    margin: 10px;
    color: whitesmoke;
}

.shopping-bag {
    height: 25px;
    width: 25px;
    margin: 10px;
    color: whitesmoke;
}

.account {
    height: 20px;
    width: 20px;
    margin: 10px;
    color: whitesmoke;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.magnifying-glass {
    display: none;
}

.nav-filler {
    width: 100dvw;
    height: 7vh;
    background: #e1e0e0;
}

.search-result {
    background: whitesmoke;
    width: 400px;
    position: fixed;
    top: 60px;
    right: 165px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

.search-result h2 {
    font-family: sans-serif;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid black;
    margin: 0 10px 0 10px;
}

.hide-results-text {
    display: none;
    background: black;
}

.product-result-card {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(136, 136, 137, 0.3);
    cursor: pointer;
}

.product-result-card img {
    height: 90px;
    width: 90px;
    margin-right: 10px;
}

.product-result-text {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-result-text p {
    color: #888889;
    font-weight: 300;
}

.product-result-text h3 {
    width: 100%;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.product-result-link {
    text-decoration: none;
}

.hide-search-other {
    display: none;
}

.search-other-view {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background: whitesmoke;
}

.search-bar-other {
    height: 50px;
    width: 100%;
    background: #e9e9ed;
}

.search-input-form-other {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    width: 100%;
    height: 100%;
}

.search-input-other {
    height: 44px;
    width: 100%;
    outline: none;
    position: absolute;
    left: 50px;
    background: transparent;
    border: none;
    font-size: 18px;
}

.close-search-other {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.confirm-search-other {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.exit-search {
    font-size: 25px;
}

.search-results-other {
    width: 100dvw;
    position: fixed;
    top: 50px;
    right: 0;
    overflow-y: scroll;
}

.product-result-card-other {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(136, 136, 137, 0.3);
    cursor: pointer;
}

.product-result-card-other img {
    height: 120px;
    width: 120px;
    margin-right: 10px;
}

.product-result-text-other {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.search-results-other h2 {
    font-family: sans-serif;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid black;
    margin: 0 10px 0 10px;
}

.product-result-text-other p {
    color: #888889;
    font-weight: 300;
}

.product-result-text-other h3 {
    width: 100%;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}






/* Footer */
.footer-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100dvw;
    height: 10vh;
    background: #1e1e24;
    border-bottom: 1px solid rgba(245, 245, 245, .25);
}

.footer-socials img {
    width: 400px;
    height: 50px;
    object-fit: cover;
    margin-left: 100px;
}

.social-icons-container {
    display: flex;
    color: white;
}

.social-icon {
    height: 25px;
    width: 25px;
}

.social-icons-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
    cursor: pointer;
}

.social-icons-container div:last-child {
    margin-right: 0;
}

.instagram-icon-box {
    background: magenta;
}

.x-icon-box {
    background: black;
}

.youtube-icon-box {
    background: #ef233c;
}

.facebook-icon-box {
    background: #516ff5;
}

.linkedin-icon-box {
    background: #45caff;
}

footer {
    width: 100dvw;
    background-color: #1e1e24;
}

footer .footer-content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .footer-content .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-content .top .footer-logo img {
    width: 400px;
    height: 40px;
    object-fit: cover;
}

.footer-content .top .footer-social-icons {
    display: flex;
}

.footer-content .top .footer-social-icons .footer-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    align-items: center;
    line-height: 40px;
    background: red;
}

footer .footer-content .link-boxes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .footer-content .link-boxes .box {
    width: calc(100% / 5 - 10px);
}

.footer-content .link-boxes .box .link-name {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}

.footer-content .link-boxes .box .link-name::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 35px;
    background: white;
    left: 0;
    bottom: -2px;
}

.footer-content .link-boxes .box li {
    list-style: none;
    margin: 6px 0;
}

.footer-content .link-boxes .box li a {
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    transition: all 0.4s ease;
    text-decoration: none;
}

.footer-content .link-boxes .box li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-content .link-boxes .input-box {
    margin-right: 55px;
}

.link-boxes .input-box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    background: whitesmoke;
    padding: 0 15px;
    font-size: 15px;
    color: #1e1e24;
    border: none;
    margin-top: 5px;
}

.link-boxes .input-box input[type="button"] {
    background: #1390de;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    width: calc(100% + 30px);
    cursor: pointer;
    transition: all 0.4s ease;
}

.link-boxes .input-box input[type="button"]:hover {
    background: #19beff;
}






/* Toast */
.toast-box {
    width: 313px;
    height: 75px;
    z-index: 1002;
    border-radius: 12px;
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    margin-top: 30px;
    animation: toast-slide-left 0.5s ease-in-out;
}

@keyframes toast-slide-left {
    0% {
        transform: translateX(400px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0px);
    }
}

.toast-green {
    background-image: url(./assets/success-toast.png);
}

.toast-yellow {
    background-image: url(./assets/warning-toast.png);
}

.toast-red {
    background-image: url(./assets//error-toast.png);
}

.toast-type-icon {
    height: 40px;
    width: 40px;
    position: relative;
    top: -35px;
    left: 15px;
}

.toast-text {
    color: whitesmoke;
    font-family: sans-serif;
    position: relative;
    left: 40px;
    height: 100%;
}

.toast-text h3 {
    margin: 15px 0 2px 0;
}

.toast-text p {
    font-weight: 300;
    width: 190px;
    overflow-wrap: break-word;
}

.toast-close-icon {
    color: whitesmoke;
    font-size: 22px;
    position: relative;
    top: -15px;
    right: -50px;
    cursor: pointer;
}

.toast-container {
    height: 100dvh;
    padding: 10px 0 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1002;
}

.toast-lists {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 10px 0 10px;
    z-index: 1002;
}






/* Responsive Media Query's */
    /* Nav Media Queries */
    @media (max-width:1070px) {
        .nav--breakpoint {
            display: flex;
            flex-direction: column;
            align-items: flex-start !important;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -400px;
            height: 100dvh;
            width: 300px;
            background: #2c2c34;
            box-shadow: 0 40px 60px rgba(0, 0, 0, .15);
            padding: 80px 0 0 10px;
            transition: .5s;
            z-index: 1002;
        }

        .nav--links {
            display: flex;
            flex-direction: column;
        }

        .nav--extras {
            display: flex;
            flex-direction: column;
        }

        .responsive-nav-icon {
            visibility: visible !important;
            position:  relative !important;
        }

        .nav-icons {
            margin-right: 65px;
        }

        .footer-socials img {
            margin-left: 25px !important;
            margin-right: 75px !important;
        }

        .social-icons-container {
            margin-right: 25px !important;
        }

        .nav--links {
            align-items: flex-start !important;
            width: 96%;
        }

        .link {
            margin: 10px 0 10px 0 !important;
            border-bottom: 1px solid;
            width: 100%;
        }

        .nav--extras {
            align-items: flex-start !important;
            width: 96%;
            margin-top: 10px;
        }

        .search-bar {
            display: none;
        }

        .nav-icons {
            justify-content: space-between !important;
            width: 100%;
            margin: 10px 0 10px 0 !important;
        }

        .wish-list {
            margin: 0 0 0 5px !important;
        }

        .shopping-bag {
            margin: 0 !important;
        }

        .account {
            margin: 0 5px 0 0 !important;
        }

        .search-input {
            width: 100% !important;
        }

        .magnifying-glass {
            display: block;
            height: 27px;
            width: 27px;
            cursor: pointer;
            color: whitesmoke;
        }
    }

    @media (max-height: 500px) {
        .search-results-other {
            height: 325px;
        }
    }





    /* Footer Media Query */
    @media (max-width: 990px) {
        footer .footer-content .link-boxes {
            flex-wrap: wrap;
        }
        footer .footer-content .link-boxes .input-box {
            width: 40%;
            margin-top: 10px;
        }
    }

    @media (max-width: 805px) {
        footer .footer-content .top {
            flex-direction: column;
        }
        .footer-content .top .social-icons-container {
            margin-top: 16px;
        }
    }

    @media (max-width: 727px) {
        footer .footer-content .link-boxes .box {
            width: calc(100% / 3 - 10px);
        }
        footer .footer-content .link-boxes .input-box {
            width: 60%;
        }
    }

    @media (max-width: 520px) {
        footer .footer-content .link-boxes .box {
            width: calc(100% / 2 - 10px);
        }
        footer .footer-content .link-boxes .input-box {
            width: 100%;
        }
    }